<div class="container">
  <div class="row no-gutters">
    <div class="col-md-7 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">検索</h5>
      <div class="form-body p-4">
        <table class='table table-hover'>
          <thaed>
            <tr>
              <th>ユーザー</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thaed>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>